name: Release 
on: workflow_dispatch
jobs:
  test:
    uses: honeybadger-io/honeybadger-dotnet/.github/workflows/ci.yml@main
        
  release:
    needs: [ test ]
    name: Bump Version and Publish Nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 0
          
      - name: Git Config
        run: |
          git config user.email "versionize@github-actions.com"
          git config user.name "Versionize"
          
      # dotnet nuget list source is to fix race condition in dotnet tool restore. Remove when https://github.com/NuGet/Home/issues/7503 is fixed.
      - name: Install dotnet tools
        run: |
          dotnet nuget list source
          dotnet tool restore

      - name: Versionize
        run: dotnet versionize
                
      - name: Pack Nugets
        run: dotnet pack --configuration Release -o ./artifacts
        
      - name: Publish Nugets
        run: dotnet nuget push ./artifacts/*.nupkg --source 'https://api.nuget.org/v3/index.json' --api-key ${{ secrets.NUGET_API_KEY }}
          
      - name: Push tags on git
        run: git push --follow-tags origin

      